body{
    height: 37rem;
    background-color:white;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
   
}
h1{
    
    position: absolute;
    text-align: center;
    left:450px;
    top:30px;
    margin: 0px;
    font-size: 70px;
    font-family: 'Sofia';
    text-shadow: 6px 6px rgba(35, 106, 238, 0.815);
}
.container{
display:flex;
justify-content:space-around;

}

.linkedin{
background: url('linkedin.svg');
background-size: cover;
}

.email{
    background: url('mail.svg');
    background-size: cover;
}

.github
{
background: url('github.svg');
background-size: cover;
}

.linkedin,.email,.github:hover{
    cursor: pointer;
    
}

.item{
  position:relative;  
  top: 10rem;
width: 15rem;
height: 15rem;

border-radius: 100%;
overflow: hidden;
}
a{
    position:absolute;  
    left:14px;
    top: 20px;
    height: 200px;
    width: 200px;
  
}

.item::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-size: cover;
}
.item::after{
    content:"";
    position: absolute;
    width: 200%;
    height: 200%;
    background-color:white ;
    bottom:0;
    left:-40%;
    border-radius:35%;
    background-size: cover;
    animation: waves 3s ease-in-out alternate infinite;
}
@keyframes waves{
   
   
    to{
        
        transform: translateY(-50%) rotate(540deg);

    }
    
}
